/*Variables*/

/*Color*/
$color-gold: #E6B325;
$color-gold-2: #BF9742;
$color-gold-3: #A47E3B;
$color-gold-4: #61481C;
$color-grey: #2C2E33;
$color-grey-2: #343A40;
$color-grey-3:#41444B;
$color-grey-4: #52575D;
$color-grey-5: #828487;
$color-dark: #16171a;
$color-white: #ffffff;

/*Font*/
$font-default: 'Raleway', sans-serif;

/*Mixins*/

@mixin border-full($width, $color) {
    border: $width solid $color;
}

@mixin bordered-double($width, $color) {
    border-top:$width solid $color;
    border-bottom: $width solid $color;
}

@mixin bordered-bottom($width, $color) {
    border-bottom: $width solid $color;
}